.contact-container{
    text-align: center;
    margin: 0 auto;
    padding: 10px;
  }
h4{
    color: aliceblue;
    margin:0;
}
.contact-container h2{
    margin-bottom: 10px;
}
.contact-bottom-line { 
    font-size: 35px;
}
.contact-container p{
    color: aquamarine;
}
.content-p div {
    display: none;
}

.content-p div.visible {
    display: block;
}
@media screen and (max-width: 768px) {

    .contact-bottom-line {
        font-size: 15px;
      }


}