.btn {
    padding: 10px 20px;
    font-size: 2rem;
    background-color: #1a406c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 100px auto;
  }
  
  .btn:hover {
    background-color: #152b44;
  }
  .content-P > div {
    display: none;
}

.content-P > div.visible {
    display: block;
    
    
    text-align: center;
}

.container-P {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 60vw;
}
.content-p img{
  
  padding: 10px;
  text-align: center;
 
}
.slider-btn{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 150px;
  background-color: #13355cd4;
  color: white;
  font-weight: 600;
}

@media screen and (max-width: 768px) {

.content-p div img {
    width: 80vw;
  }
  img {
    width: 80vw;
  }
  .slider-btn {
   margin: 5px 5px;
  }

}
